#about-body {
  height: 100%;
  width: 100%;
}

#info-side {
  background: #d2d7d8;
  background-position: center;
  background-size: cover;
  padding-top: 18%;
  padding-bottom: 10%;
  text-align: center;
  word-wrap: break-word;
  >p {
    font-size: 1.6rem;
  }
  @media (max-width: 768px) {
    background-position: center;
    background-size: cover;
    padding-top: 9%;
    padding-bottom: 4%;
    text-align: center;
    word-wrap: break-word;
  }
}

#info-side:hover {
  transition: .3s ease;
  font-weight: 600;
  opacity: .7;
  >strong {
    color: blue;
  }
}

#image-side {
  background: url("/images/profile/me.JPG");
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  font-family: 'Noto Serif, serif';
  @media (max-width: 768px) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35%;
    // padding-bottom: 5%;

  }
}

#image-side:hover {
  transition: .3s ease-out;
  opacity: .8;
}