.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $s-size;
  padding: $s-size 0;
  font-size: $l-size;
  word-wrap: break-word;
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $s-size;
    padding: $s-size 0;
    font-size: $l-size;
    word-wrap: break-word;
  }
}

.header__item {
  color: blue;
  text-decoration: none;
  margin: 2rem;
}