#profile {
  border-radius: 2rem;
  padding-top: 15%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 3rem;
  margin: 3rem 5rem 0 5rem;
  >a {
    margin: 1.6rem;
  }
}

#profile:hover {
  transition: .3s ease-in-out;
  opacity: .7;
  font-weight: bolder;
}

a:hover {
  transition: .3s ease;
  opacity: .6;
}

#profile h1:hover {
  transition: .3s ease;
  font-weight: bolder;
  color: rgb(6, 94, 94);
}