.social {
  margin: .3rem;
  padding: .2rem;
  background: blue;
  color: white;
  border-radius: .5rem;
}

.email {
  color: blue;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $s-size;
  padding: $s-size 0;
  font-size: $m-size;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $s-size;
    padding: $s-size 0;
    font-size: $m-size;
  }
}

.text {
  @media (max-width: $desktop-breakpoint + 15) {
    align-items: center;
    margin: $m-size;
    padding: $s-size 0;
    font-size: $m-size;
  }
}

.profPic {
  height: 24rem;
  width: 25rem;
  border-radius: 3rem;
}