a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #007bff;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: .2rem;
    margin: .3rem;
    padding: .3rem;
}

a:hover {
  transition: .3s ease-out;
  opacity: .5;
}
  
.project-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-auto-rows: 17rem;
  grid-gap: .6rem;
}

.project-item {
  width: 27rem;
  background: rgba(0,0,255,.25);
  color: white;
  padding: .3rem;
}

.project-item:hover {
  transition: .3s ease-in;
  background: rgba(0,200,200,.20);
  font-weight: bolder;
  opacity: .8;
}

.links {
  margin-left: 5rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: firebrick;
}

@media only screen and (max-width: 576px) {
  .project-item { 
    width: 17rem;
    margin: 0;
  }

  .project-container {
    justify-items: flex-start;
  }

  .links {
    margin-left: .6rem;
  }
}