body {
  background: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  font-family: 'Noto Serif', serif;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica ,Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bolder;
}

.content {
  padding-top: 15%;
  text-align: center;
  color: white;
  >h1 {
    font-size: 3em;
  }
  >hr {
    width: 120px;
    background-color: white;
  }

  @media (max-width: 768px) {
    padding-top: 30%;
  }
}

h1:hover, h2:hover {
  display: inline;
  transition: .3s ease-in-out;
  color: #b5c5dd;
  font-weight: bolder;
}